<div class="page-header">
  <h1>UD Stores <small></h1>
</div class="thumbnails">

<ul class="thumbnails">
<% @branches.each do |branch| %>
    <li class="span3">
      <div class="thumbnail">
        <%= image_tag "UniformDirect-Logo.png", class: 'img_circle' %>
        <h4><%= link_to branch.name, branch_path(branch), title: branch.name %></h4>
      </div>
    </li>
<% end %>
</ul>

<br />


